@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PT Serif", serif;
  font-size: 1.3rem;
  background: #f7f7f7;
}
a {
  color: #333;
  text-decoration: none;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

/*Header*/

.main-header {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.main-header h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: -30px;
}
.main-header h1 span {
  color: #3db2ff;
}
h3 span {
  color: #3db2ff;
  border-bottom: solid 3px #000;
}
/*Cards*/

img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #eeeeee;
  margin-bottom: 2rem;
  overflow-y: hidden;
}
.card_no-img {
  display: grid;
  text-align: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  background: #eeeeee;
  overflow-y: hidden;
}
.card h3,
.card_no-img h3 {
  margin-bottom: 2rem;
}
.card img {
  height: 400px;
}

.card > div {
  padding: 2rem;
}
.card:nth-child(even) img {
  order: 2;
}

@media (max-width: 700px) {
  .card {
    display: block;
  }
}
