@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
}
p {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, black, white);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 0rem;
}

header .nav-link:hover {
  color: gold;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: #ff512f;
  /* fallback for old browsers */
  background: var(--bggradient);
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

#mainDiv {
  width: 300px;
  height: 300px;
  margin: 150px auto;
  perspective: 800px;

}

#boxDiv {
  width: 300px;   
  transform-style: preserve-3d; 
  animation: rotate 15s linear infinite;
}

#boxDiv div {
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 0.7;
  color: white;
}

#front {
  transform: translateZ(150px);
  background: black;
  background-image: url(new1.jpg);
  background-position: center;
  background-repeat: no-repeat;

}


#back {
  transform: rotateY(180deg) translateZ(150px);
  background: #101010;
  background-image: url(new1.jpg);
  background-position: center;
  background-repeat: no-repeat;    
}

#left {
  transform: rotateY(-90deg) translateX(-150px);
  transform-origin: left;
  background: black;
  background-image: url(new1.jpg);
  background-position: center;
  background-repeat: no-repeat;    
}

#right {
  transform: rotateY(90deg) translateX(150px);
  transform-origin: right;
  background: #101010;  
  background-image: url(new1.jpg);
  background-position: center;
  background-repeat: no-repeat;    
}

#top {
  transform: rotateX(-90deg) translateY(-150px);
  transform-origin: top;
  background: black;
  background-image: url(new1.jpg);
  background-position: center;
  background-repeat: no-repeat;    
}

#bottom {
  transform: rotateX(90deg) translateY(150px);
  transform-origin: bottom;
  background: #101010; 
  background-image: url(new1.jpg);
  background-position: center;
  background-repeat: no-repeat;    
}

@keyframes rotate {

  0% { transform: rotateY(-0); }
  100% { transform: rotateY(360deg); }
}


.shadow {
  
  
  width:300px;
  height:300px;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 50px 50px rgba(0,0,0,0.5);
  transform: rotateX(90deg)
   translateZ(-250px) rotateY(180deg) translateX(0px);

}
#down {
position :absolute;
  bottom: 0;
 } 
 
ul{
  list-style-type: none;
  
  }
  social-icons{
  margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  ul#menu li {
  position: relative;
    display:inline;
  
  }
  
  ul{
  list-style-type: none;
  
  }
  social-icons{
    font-size: 50px;

  margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  ul#menu li {
  position: relative;
    display:inline;
    font-size: 30px;

  }

  
hr{
  margin-top: 1rem;
  margin-bottom: 0.5em;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.flex-container{
  display: flex;
  flex-direction: row;
}

.flex-item-left{
  
  background-color: black;
  color: #fff;
  padding: 100px;
  flex: 50%;
}

.page-color{
  color: black;
  background-color:whitesmoke;
  padding: 15px;
}

.flex-item-left p{
   margin-top: 5%;
  font-size: larger;
  font-weight: 600px;
 
}

.flex-item-right{
  
  padding: 10px;
  flex: 50%;
}

.move-below-3{
  padding: 110px 0 0 0;
}

.move-px{
  padding: 0 0 0 45px;
}

@media screen and (max-width:800px){
  .flex-container{
      flex-direction:column;
  }
  
  .page-color h2{
      text-align: center;
   }

   .ml-auto, .mx-auto {
      margin: auto;
  }

  .move-px{
      padding: 0
  }

  .contact .search {
      width: 100%;
      padding:0
  }

  section.contact {
      padding: 0 !important;
  }
}


.footer{
  background-color:black;
  padding: 40px 0px;
  margin-top: 0px;
}
.footer .login_1 .footer_img{
  text-align: center;
  justify-content: center;
}
.footer .footer_socialicons{
  text-align: center;
}
.footer .footer_socialicons ul li{
  display: inline-block;
  margin-top: 15px;
}
.footer .footer_socialicons ul li img{
  width: 55px;
}

.footer p{
  font-size: 20px;
  margin-top: 5px;
  color:#ffffff;
  margin-top: 35px;
  text-align: center;
}

.contact .search {
  width: 100%;
 
}
.search .input{
  width: 350px;
  height: 40px;
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bolder;
  border-style: ridge;
  border-color: silver;
}
.search textarea{
  border-radius: 5px;
  border-style: ridge;
  padding: 15px 5px;
  border-color: silver;
 
}
.search textarea::placeholder{
  font-size: 15px;
  font-weight: bolder;
  padding: 2px;
}
.search button{
  width: 350px;
  height: 40px;
  background-color: #2574ed;
  font-size: 16px;
  font-weight: bolder;
  color: #ffffff;
  border-radius: 5px 5px;
}

section.contact {
  padding: 10px 48px;
}
form {
  padding: 0 0 15px 0;
}


@media screen and (min-width:768px){
  .contact .search {
      width: 100%;
     /* padding: 0 0 0 50px;*/
  } 
}